#  +----------------------------------------------------------------------+
#  | Mastered by (C) 2009 NoveOPiu di Enrico Possenti                     |
#  | Author: Enrico Possenti <info@noveopiu.com>                          |
#  +----------------------------------------------------------------------+
#  | dCTL LOGIN                                                           |
#  +----------------------------------------------------------------------+
AuthName "Login to dCTL"
AuthType Basic
AuthUserFile /Volumes/DVL/dvlp-noveopiu/CTL/www.ctl.sns.it/_latest/apps/_shared/_protected/.htpasswd
AuthGroupFile /dev/null
Require valid-user
